@tailwind base;
@tailwind components;
@tailwind utilities;


.blink-caret {
  border-right: 0.15em solid #4ade80; 
  animation: blink 0.75s step-end infinite;
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #4ade80; 
  }
}